<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        .del{text-decoration: line-through;color:#ccc}
    </style>
</head>
<body>
<div id="app">
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">TodoList</a>
            </div>
            <!--下面可以放置导航-->
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-danger">亲 ，您还有 {{total}} 事要完成</h3>
                <input type="text" class="form-control" placeholder="请输入要添加的事项" v-model="todo" @keyup.enter="addTodo">
                <ul class="nav nav-pills" style="margin: 10px 0">
                    <li :class="{active:hash=='complete'}"><a href="#complete">全部完成</a></li>
                    <li :class="{active:hash=='finish'}"><a href="#finish">已完成</a></li>
                    <li :class="{active:hash=='unfinish'}"><a href="#unfinish">未完成</a></li>
                </ul>

                <ul class="list-group">
                    <!--del可以 让当前项变灰 ,如果当前为点击状态则生效-->
                    <li class="list-group-item" v-for="todo in lists" :class="{del:todo.isSelected}" @dblclick="change(todo)">
                        <!--同一时间 只能显示一个 先要知道点击的是哪一个-->
                        <div v-show="todo!=t">
                            <input type="checkbox" v-model="todo.isSelected">
                            {{todo.title}}
                            <button class="btn btn-danger pull-right btn-xs"  @click="remove(todo)">&times;</button>
                        </div>
                        <!--自动获取焦点的功能 ，有且只能有一个输入框获取焦点-->
                        <input type="text" v-show="todo==t" v-model="todo.title" @keyup.13="reset" @blur="reset" v-auto-focus="todo==t">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="todo.js"></script>
</body>
</html>